#help-modal{
   
    box-sizing: border-box;
    margin : 0 auto;
    position :absolute;
    top:68px;
    max-width: 500px;
    left: calc(50% - 250px);
    z-index: 2;
    padding: 2rem;
    border-radius: 8px;
    overflow-y: auto;

    max-height: 85vh;
    background-color: var(--bgcolor-app);
    opacity: 0.95;
    box-shadow: 0 0 16px 0 var(--bgcolor-key);
    
}
@media screen and (max-width: 600px) {
	#help-modal {
		max-width: 350px;
    left: calc(50% - 175px);
	}
}
.exit{
    margin: 0;
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 16px;
    right: 16px;

}

.exit svg{
    cursor: pointer;
    text-align: center;
    margin: 0;
}

#help-modal h1{
    text-align: left;
    font-size: 1.75rem;
    
}
#help-modal h2{
    margin: 0.5rem 0;
    font-weight: 600;
    font-size: 1.25rem;
}

#help-modal ul{
   padding-left: 14px;
   margin-bottom: 1.5rem;
}

#help-modal ul li{
    margin-bottom: 0.4rem;
 }

#help-modal p{
    margin: 0;
 }

 #help-modal .example{
    margin: 0.75rem 0;
 }

 #help-modal .example .row{
    margin: 0.5rem 0;
 }